body {
  background-color: rgb(174, 233, 232);
#pic {
border: ;
border-style:double;
border-color: black; ;
}
}
ul {
  background-color: rgba(149, 159, 58, 0.751);
  color: white;
  margin-right: 80%;
  font-size: larger;
  border: ;
  border-style:double;
  border-color: black;
}
h1 {
  font-size: 30px;
  font-family: cursive;
}
p {
  color: blue;
  font-family: cursive;
  font-size: larger;
}
footer {
  color: red;
  font-size: 40px;
}
.testimonial {
  background-color: black;
  color: white;
  .item1 {
    background-color: red;


